@import '../../scss/keyframes';

$size: 28px;

.note {
  box-sizing: content-box;
  position: relative;
  width: $size;
  height: $size;
  line-height: $size;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  opacity: .6;
  color: #000;
  font-weight: 700;
  transition: transform .1s;
  transform: scale(.8);
  border: 3px solid transparent;

  &.is-disabled {
    background: #7c7c7b;
    color: #000;
    opacity: 0;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      background: #ff654b;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translate(0, -50%) rotate(-45deg);
    }

    &.is-similar {
      opacity: 0;
    }

    &.is-active {
      opacity: 1;
    }
  }

  &.is-similar {
    opacity: 1;
    transform: scale(.9);
  }

  &.is-active {
    font-weight: bold;
    opacity: 1;
    animation: pulse .4s infinite;
  }

  &.is-key {
    border-color: #fff;
    font-weight: 900;
  }
}

.note--c {
  background: #ff654b;
  color: #fff;
}

.note--d {
  background: #ffa130;
}

.note--e {
  background: #fffe2b;
}

.note--f {
  background: #4b805e;
  color: #fff;
}

.note--g {
  background: lightblue;
}

.note--a {
  background: #3e59ff;
  color: #fff;
}

.note--b {
  background: #eb80ee;
}
