@import '../../scss/mixins';

.sidebar {

}

.sidebar__init {
  @include overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.sidebar__in {
  padding: 0 16px;
  margin: 16px 0;
}

.sidebar__item {
  * + & {
    margin-top: 16px;
  }
}
