$blackKeyWidth: 32px;

.piano {
  display: flex;
  justify-content: center;
  height: 200px;
}

.piano__key {
  flex: 0 0 44px;
  background: #fff;
  height: 100%;
  border: 1px solid #000;
  position: relative;
  border-radius: 4px;

  .note {
    &.is-key {
      border-color: #000;
    }
  }

  //black keys
  &:nth-child(12n + 2),
  &:nth-child(12n + 4),
  &:nth-child(12n + 7),
  &:nth-child(12n + 9),
  &:nth-child(12n + 11) {
    position: relative;
    flex: 0;
    z-index: 2;
    height: 65%;
    border: 0;

    &:before {
      content: '';
      position: absolute;
      width: $blackKeyWidth;
      background: #000;
      transform: translateX(-50%);
      height: 100%;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
      border-radius: 0 0 2px 2px;
    }

    .note {
      &.is-key {
        border-color: #fff;
      }
    }
  }
}

.piano__note {
  position: absolute;
  z-index: 2;
  bottom: 12px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  text-align: center;
}
